
<div class="header">
  <h1>Zorgeloos huren van jouw buren</h1>
  <h3>Grote spullen vervoeren begint hier</h3>

  <div class="row">
      <%= search_form_for @search do |f| %>
        <div class="field">
          <%= f.text_field :location_cont, placeholder: "Waar zoek je vervoer?", :class => "form-control placesearch" %>

          <%= f.select(:categorie_cont, options_for_select([['Kies je vervoersmiddel'],['Aanhanger'], ['Auto']]), {}, {class: "form-control categoriesearch"}) %>
        </div>
        <%= f.submit "zoeken", :class => "btn btn-primary" %>
      <% end %>
  </div>
</div>



  Er zijn <%= @ads.count %> aanhangwagens gevonden

  <div class="dropdown navbar-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Filter op
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Prijs</a></li>
      <li><a href="#">Afstand</a></li>
      <li><a href="#">Beoordeling</a></li>
    </ul>
  </div>
<div class="row">
  <div class="col-md-3 filter-sidebar">

  <%= search_form_for @search do |f| %>
                    <h4>Prijs per dag</h4>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <%= f.text_field :price_gteq, :id=> "MinimumPriceTextbox", :class=> "form-control", :placeholder=> "Van" %>
                            </div>
                            <div class="col-xs-6">
                              <%= f.text_field :price_lteq, :id=> "MaximumPriceTextbox", :class=> "form-control",  :placeholder=> "Tot" %>
                            </div>
                        </div>
                    </div>

                    <h4>Filter op rijbewijs</h4>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                              <div class="checkbox">
                                <label><input type="checkbox" value="">Rijbewijs B</label>
                              </div>
                              <div class="checkbox">
                                <label><input type="checkbox" value="">Rijbewijs B+</label>
                              </div>
                              <div class="checkbox ">
                                <label><input type="checkbox" value="">Rijbewijs BE</label>
                              </div>
                            </div>
                        </div>
                    </div>
<%= f.submit "Filter", :class => " btn-search" %>
      <% end %>
    </div>

  <div class="ads">
    <% @ads.each do |ad| %>
      <div class="col-xs-6 col-sm-3 ad">
          <h2><%= link_to ad.title, ad_path(ad) %></h2>
          <p> <%= ad.description %></p>
          <p> <%= ad.location %></p>

          <%= link_to "Vervoer bekijken", ad_path(ad), class: "btn btn-warning" %>
      </div>
    <% end %>
  </div>

</div>
