
<div class="row">
  <div class="col-md-4">
    <h2><%= link_to @ad.user.first_name, user_path(@ad.user) %></h2>
    <p>Lid sinds: <%= @ad.user.created_at.strftime("%B %d, %Y") %></p>
  </div>
    <%= image_tag @ad.image.url(:medium) %>
    <div class="col-md-4">
      <h2><%= @ad.title %> </h2>
      <p>Prijs per dag: <%= @ad.price %> </p>
      <p><%= @ad.description %></p>
    </div>
</div>


    <table class="table table-striped">
      <thead>
        <tr>
          <th>Specificaties</th>
          <th>Benaming</th>
        </tr>
      </thead>

      <tbody>
          <tr>
            <th scope="row">Laadvermogen</th>
            <td><%= @ad.capacity %></td>
          </tr>
          <tr>
            <th scope="row">Grootte</th>
            <td><%= @ad.size %></td>
          </tr>
          <tr>
            <th scope="row">Merk</th>
            <td><%= @ad.brand %></td>
          </tr>
          <tr>
            <th scope="row">Rijbewijs</th>
            <td><%= @ad.license %></td>
          </tr>
          <tr>
            <th scope="row">Stekker</th>
            <td><%= @ad.plug %></td>
          </tr>
          <tr>
            <th scope="row">transmission</th>
            <td><%= @ad.transmission %></td>
          </tr>
          <tr>
            <th scope="row">Bouwjaar</th>
            <td><%= @ad.year %></td>
          </tr>
          <tr>
            <th scope="row">Motor</th>
            <td><%= @ad.engine %></td>
          </tr>
          <tr>
            <th scope="row">Brandstof</th>
            <td><%= @ad.fuel %></td>
          </tr>
      </tbody>
    </table>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Dont's</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
          <tr>
            <th scope="row"><%= @ad.restrictions %></th>
            <td></td>
          </tr>
      </tbody>
    </table>


    <h3>Reviews:</h3>

  <%= link_to "back", root_path %>

    <% if user_signed_in? %>
    <% if @ad.user_id == current_user.id %>
      <h3>Je advertentie aanpassen?</h3>
      <%= link_to "edit", edit_ad_path(@ad) %>
      <%= link_to "delete", ad_path(@ad), method: :delete, data: { confirm: "Weet je het zeker?"} %>
  <% end %>
  <% end %>
