<h1>Profiel van:</h1>

<p><%= @user.first_name %></p>
<p><%= @user.last_name %></p>
<p><%= @user.streetname %></p>
<p><%= @user.housenumber %></p>
<p><%= @user.zip_code %></p>
<p><%= @user.city %></p>
<p><%= @user.country %></p>
<p><%= @user.phone %></p>
<p><%= @user.about %></p>
<p><%= @user.email %></p>
<p><%= @user.created_at %></p>
