<!DOCTYPE html>
<html>
<head>
  <title>Transporent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <%= link_to "Transporent", root_path, class: "navbar-brand" %>
      </div>

      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to ('Uitloggen'), destroy_user_session_path, method: 'delete' %></li>
          <li><%= link_to ('Profiel bekijken'), current_user %></li>
        <% else %>
          <li><%= link_to ('Inloggen'), new_user_session_path %></li>
          <li><%= link_to ('Registreren'), new_user_registration_path %></li>
        <% end %>
      </ul>
        <Li class="btn-rent"><%= link_to "Verhuren?", new_ad_path %></Li>
    </div>

    <p class="notice alert-success" role="alert"><%= notice %></p>
    <p class="alert" role="alert"><%= alert %></p>

    <%= yield %>
  </div>
  <footer class="footer">
      <div class="container">

        <div class="col-xs-6 col-sm-3">
          <ul>
            <li><h4>Over Transporent</h4></li>
            <li>Veel gestelde vragen</li>
            <li>Hoe werkt het?</li>
            <li>Over ons</li>
            <li>Blog</li>
          </ul>
        </div>

        <div class="col-xs-6 col-sm-3">
          <ul>
            <li><h4>Voorwaarden</h4></li>
            <li>Verzekering</li>
            <li>Privacy policy</li>
            <li>Gebruikersvoorwaarden</li>
            <li>Cookie voorwaarden</li>
          </ul>
        </div>

        <div class="col-xs-6 col-sm-3">
          <ul>
            <li><h4>Plaatsen</h4></li>
            <li>Leeuwarden</li>
            <li>Amsterdam</li>
            <li>Groningen</li>
            <li>Utrecht</li>
            <li>Den Haag</li>
            <li>Eindhoven</li>
          </ul>
        </div>

        <div class="col-xs-6 col-sm-3">
          <ul>
            <li><h4>Vervoersmiddelen</h4></li>
            <li>Aanhangwagen huren</li>
            <li>Bus huren</li>
            <li>Trailer huren</li>
          </ul>
        </div>
      </div><div class="container">
      <hr></div>
    </footer>
</body>
</html>
