<!DOCTYPE html>
<html>
<head>
  <title>Transporent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Transporent", root_path, class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav">
        <Li><%= link_to "sign up", new_user_registration_path %></li>
          <% if user_signed_in? %>
        <Li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <Li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
      </ul>
      <Li class="nav navbar-nav navbar-right"><%= link_to "Verhuren?", new_ad_path %></Li>
    </div>
  </div>

  <div class="container">
    <p class="notice alert-success" role="alert"><%= notice %></p>
    <p class="alert" role="alert"><%= alert %></p>
  </div>

<div class="container">
  <%= yield %>
</div>
</body>
</html>
